/*--------------------------------------------------------------
                        responsive layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
max width：1250
--------------------------------------------------------------*/
@media screen and (max-width: 1250px) {
    .featured-header-area-card {
        height: 350px !important;
    }

    .single-container-center-sidebar {
        display: none;
    }

    .index-container-right {
        display: none;
    }

    .index-container-center {
        display: block;
    }

    .footer-area-copyright {
        width: auto;
    }

    .single-container-center {
        display: block;
    }

    .single-comment-container {
        max-width: 880px;
    }

}


/*--------------------------------------------------------------
max width：600
--------------------------------------------------------------*/
@media screen and (max-width: 600px) {

    .content-single-container-article-content-header-title {
        font-size: 33px;
    }

    p {
        font-size: 15px;
    }

    .featured-header-area-card {
        display: none;
    }

    .content-container-article-content-title {
        font-size: 16px;
    }

    .header-navigation-container {
        margin: 0;
        border-radius: 0;
    }

    .index-container-center-container-post {
        padding: 10px;
    }


    .content-container-article-content-excerpt {
        display: none;
    }

    .content-container-article-footer {
        display: none;
    }


    #comment {
        height: 77px;
    }
    .comment-form-author input, .comment-form-email input, .comment-form-url input{
        width: auto;
    }
    .comment-form-author, .comment-form-email, .comment-form-url{
        width: 100%;
        float: none;
    }

}


/*--------------------------------------------------------------
max width：411 pixel 2
--------------------------------------------------------------*/
@media screen  and (max-width: 411px){
    .comment-form-author input, .comment-form-email input, .comment-form-url input{
        padding: 5px 0;
    }

    .content-single-container-article-content-header-title {
        font-size: 28px;
    }


}


/*--------------------------------------------------------------
max width：375  iphone6/7/8
--------------------------------------------------------------*/
@media screen  and (max-width: 375px){
    .content-single-container-article-content-header-title {
        font-size: 25px;
    }

}



/*--------------------------------------------------------------
max width：360 Galaxy S5
--------------------------------------------------------------*/
@media screen and (max-width: 360px){

    .footer-area-copyright p {
        font-size: 13px;
    }
}



/*--------------------------------------------------------------
max width：320 iphone 5/SE
--------------------------------------------------------------*/
@media screen and (max-width: 320px) {
    .content-single-container-article-content-header-title {
        font-size: 20px;
    }


    .single-comment-container {
        max-width: 350px;
    }

    .comment-respond {
        max-width: 340px;
    }






}


