/*--------------------------------------------------------------
                        responsive layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
max width：1250
--------------------------------------------------------------*/
@media screen and (max-width: 1250px) {
    .featured-header-area-card {
        height: 350px !important;
    }
    .single-container-center-sidebar {
        display: none;
    }

    .index-container-right {
        display: none;
    }

    .index-container-center {
        display: block;
    }
    .footer-area-copyright{
        width: auto;
    }
    .single-container-center{
        display: block;
    }

    .single-comment-container{
        max-width: 880px;
    }

}




/*--------------------------------------------------------------
max width：600
--------------------------------------------------------------*/
@media screen and (max-width: 600px) {

    .content-single-container-article-content-header-title{
        font-size: 28px;
    }

    p{
        font-size: 15px;
    }

    .featured-header-area-card {
        display: none;
    }

    .content-container-article-content-title{
        font-size: 16px;
    }

    .header-navigation-container{
        margin: 0;
        border-radius: 0;
    }

    .index-container-center-container-post{
        padding: 10px;
    }

    .single-container-center-sidebar {
        display: none;
    }
    .index-container-right {
        display: none;
    }
    .index-container-center {
        display: block;
    }
    .footer-area-copyright{
        width: auto;
    }
    .content-container-article-content-excerpt{
        display: none;
    }
    .content-container-article-footer{
        display: none;
    }
    .single-container-center{
        display: block;
    }
}


/*--------------------------------------------------------------
max width：400
--------------------------------------------------------------*/
@media screen and (max-width: 400px){
    .content-single-container-article-content-header-title{
        font-size: 28px;
    }

    p{
        font-size: 15px;
    }

    .featured-header-area-card {
        display: none;
    }

    .content-container-article-content-title{
        font-size: 16px;
    }

    .header-navigation-container{
        margin: 0;
        border-radius: 0;
    }

    .index-container-center-container-post{
        padding: 10px;
    }

    .single-container-center-sidebar {
        display: none;
    }
    .index-container-right {
        display: none;
    }
    .index-container-center {
        display: block;
    }
    .footer-area-copyright{
        width: auto;
    }
    .content-container-article-content-excerpt{
        display: none;
    }
    .content-container-article-footer{
        display: none;
    }
    .single-container-center{
        display: block;
    }

    .single-comment-container{
        max-width: 350px;
    }

    .comment-respond{
        max-width: 340px;
    }

    #comment{
        height: 77px;
    }

}

